body {
	font-family: 'Open Sans', sans-serif;
	background-image: url("fotos/Fondo.jpeg");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

.card-img-top {
    width: 50%;
    height: 100%;
    object-fit: cover;
}